.login-admin-page {
    height: 100vh;
    background-image: url("../../../../../site/public/fundoadmin.jpg");

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    

    .containerLogin {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: rgb(108, 108, 110, 0.5);
        border-radius: 10px;
        width: 45.25em;
        height: 23.75em;
    }

    .container-row {
        height: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

    }

    .boxInputs {
        width: 50%;
        height: 10em;
    }

    .row {
        width: 100%;
        height: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #logo-login {
        width: 50%;
<<<<<<< HEAD
=======
        padding-left: 10px;
>>>>>>> b956835e4b5d5d02ba489e87982b1829cb97396d
    }
    #logo-login:hover{
        transform: scale(1.080);
    }

    

    #botao-login {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        width: 7em;
        border-radius: 10px;
    }

    #botao-login:hover {
        cursor: pointer;
        background-color: rgb(161, 161, 161);
    }
}