.headerAdmin {
    width: 100%;
    background-color: #596677;
    height: 120px;
    
    display: inline-block;
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .boxText {
        color: white;
        width: 8em;
    }

    #adm {
        color: red
    }

}

