.comp-menu {
    position: relative;
    width: 12%;
    background-color: #323A45;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    




    .menu-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        

        


    }
    .menu-items > div {
        display: flex;
        align-items: center;
        color: #fff;
        transition: .3s;
        cursor: pointer;
        margin-top: 10%;
        padding: 1em;

    }
    .menu-items > div:hover {
        background-color: #E74C3C;
        width: 100%;
    }



    .selecionado {
        background-color: #A028E6;
    }

    .img{
        height: 35px;
        width: 35px;
    }

    .texto{
        text-align: center;
    }

}

