.boxCartaos{
    border-radius: 12px;
    border: solid 1px black;
  //  height: 90%;
    padding: 1.5em;
    margin: 3%;
    background-color: rgb(255, 255, 255);
}

.alin{
    display: flex;
    flex-direction: column;
}

.alin2{
    display: flex;
    flex-direction: column;
}

.inputs-peq{
    display: flex;
    flex-direction: row;
}

.inputpeq{
    width: 100px;
    margin-left: 15px;
    border-radius: 6px;
    height: 25px;
}

.inputpeq2{
    width: 100px;
    border-radius: 6px;
    height: 25px;
}

