.box22{
    border-radius: 12px;
    border: solid 2px black;
    height: 85%;
    padding: 1.5em;
    margin: 3%;
    background-color: white;
    width: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.boxBoletos{
    border-radius: 12px;
    border: solid 2px black;
    height: 85%;
    padding: 1.5em;
    margin: 3%;
    background-color: white;
}